<template>
    <div class="container suc-container">
        <div class="row">
            <div class="col-8">
                <h1>RESULT</h1>

                <p repeat.for="result of stockResults">${result}</p>
            </div>
            <div class="col-4">
                <div class="d-flex flex-row-reverse">
                    <div class="p-2">
                        <button class="btn suc-btn-turquoise" click.delegate="run()" type="button">Get data</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>